.input-fields {
  padding-top: 45px;
  width: 60%;
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  margin: auto;
  padding-bottom: 45px;
}

.app-form-main {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);

  input {
    margin-bottom: 25px;
    height: 30px;
    font-size: 18px;
  }

  label {
    @include primary-font(20px);
    padding-bottom: 5px;
  }
}

.app-form-main-details {
  @include display(flex);
  @include align-items(flex-end);

  label {
    display: block;
  }
}

.app-form-main-details-group {
  padding-right: 25px;
}

.width-ruler {
  @include primary-font(15px);
  margin: auto;
  color: $secondary_dark;
  border-top: 4px solid $primary;
  height: 7px;
  border-left: 4px solid $primary;
  border-right: 4px solid  $primary;
  padding-left: 5px;
}

.email-slices {
  margin: auto;
  padding-top: 25px;
}


.overlay {
  @include align-items(center);
  @include display(flex);
  @include justify-content(center);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
}

.left-side-form {
  @include display(flex);
  @include flex-direction(column);
  padding-right: 50px;

  input {
    width: 300px;
    height: 20px;
    margin-bottom: 20px;
    border: 1px solid $secondary-dark;

    &:focus {
      box-shadow: $secondary-dark;
      outline: none;
      border-color: $secondary-dark;
    }
  }

  textarea {
    margin-bottom: 20px;
    border: 1px solid $secondary-dark;

    &:focus {
      box-shadow: $secondary-dark;
      outline: none;
      border-color: $secondary-dark;
    }
  }
}

.has-changed-border {
  border: 1px solid $primary;
}
