.input-fields {
  padding-top: 45px;
  width: 70%;
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  margin: auto;
  padding-bottom: 45px;
}


.app-form-main {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);

  input {
    margin-bottom: 25px;
    height: 30px;
    font-size: 18px;
  }
  .input {
    outline: none;
    border: 1px solid $light-gray;
    box-shadow: 0;
  }

  label {
    @include primary-font(20px);
    padding-bottom: 5px;
    color: $dark-gray;
  }
}

.app-form-main-details {
  @include display(flex);
  @include align-items(center);

  label {
    display: block;
  }
}

.app-form-main-details-group {
  padding-right: 25px;
  display: block;
  label {
    display: block;
  }
}

.width-ruler {
  @include primary-font(15px);
  margin: auto;
  color: $dark-gray;
  border-top: 4px solid $primary;
  height: 7px;
  border-left: 4px solid $primary;
  border-right: 4px solid  $primary;
  padding-left: 5px;
}

.slices-container {
  padding-bottom: 50px;
}

.email-slices {
  margin: auto;
  padding: 25px 0;
  z-index: 10;

  img {
    cursor: pointer;
  }
}


.overlay-container {
  @include align-items(center);
  @include display(flex);
  @include justify-content(center);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 20;
}

.overlay {
  @include align-items(center);
  @include display(flex);
  @include justify-content(center);
  width: 100%;
  height: 100%;
  background-color: $primary;
  z-index: 21;
}

.left-side-form {
  @include display(flex);
  @include flex-direction(column);
  padding-right: 50px;

  label {
    @include primary-font(15px);
    padding-bottom: 5px;
    color: $white;
  }

  input {
    width: 300px;
    height: 20px;
    margin-bottom: 20px;
    border: 1px solid $dark-gray;

    &:focus {
      box-shadow: $dark-gray;
      outline: none;
      border-color: $dark-gray;
    }
  }

  textarea {
    width: 300px;
    border: 1px solid $dark-gray;

    &:focus {
      box-shadow: $dark-gray;
      outline: none;
      border-color: $dark-gray;
    }
  }
}

.image-slice-container {
  float: left;
  position: relative;
}

.submitted-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25px;
  height: 25px;
  padding: 10px;
}

.has-changed-border {
  -webkit-filter: blur(2px) opacity(15%);
  filter: blur(2px) opacity(15%);
}

.overlay-code-box {
  @include align-items(center);
  @include display(flex);
  @include justify-content(center);
  @include flex-direction(column);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $primary;
  z-index: 22;
  color: $white;

  h3 {
    @include primary-font(35px);
    font-weight: bolder;
    color: $white;
  }
}

.code-box {
  background-color: $light-primary;
  width: 80%;
  height: 50%;
  padding: 35px;
  overflow: auto;

  p {
    font-family: monospace;
  }
}

.talking-pigeon {
  position: relative;
  padding-left: 125px;
}

.pigeon-logo-talking {
  position: absolute;
  top: 110px;
  right: 220px;
  width: 125px;
}

.loading-icon {
  height: 30px;
}

.app-form-main-header {
  @include display(flex);
  @include align-items(start);
}

.app-form-checkbox {
  @include display(flex);
  @include align-items(center);
  @include flex-direction(row);
  // @include justify-content(center);
  @include primary-font(14px);
  margin-right: 40px;

  label {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    color: $white;
    font-size: 18px;
    background-color: $dark-gray;
    height: 40px;
    width: 100px;
  }
}

.text-box {
  width: 600px;
}

.code-box-checkbox {
  padding-top: 25px;
  input[type=checkbox], input[type=radio] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    width:20px;
    height:20px;
}

  label {
    @include primary-font(22px);
    color: $white;
  }
}

.form-box-group {
  @include display(flex);
  @include flex-direction(row);
}
.form-box {
  @include display(flex);
  @include align-items(center);
  @include justify-content(space-between);
  padding: 20px;
  background-color: $light-gray;
  margin: 10px 0;

  input {
    width: 90%;
    height: 35px;
    border: none;
    font-size: 18px;
    padding-left: 5px;
  }
}

.form-box-60 {
  @extend .form-box;
  width: 60%;
}

.form-box-40 {
  @extend .form-box-60;
  width: 40%;
  margin: 10px 20px 10px 0;
}

.form-box-40-right {
  @extend .form-box-60;
  width: 40%;
  margin: 10px 0px 10px 20px;
}

.form-box-50 {
  @extend .form-box;
  width: 50%;
}

.form-box-50-margin {
  @extend .form-box-50;
  margin-right: 20px;
}

.form-box-number {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  @include primary-font(22px);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: 1px solid $dark-gray;
  margin-right: 20px;
  font-weight: 500;
  color: $white;
}
