.input-fields {
  padding-top: 45px;
  width: 60%;
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  margin: auto;
  padding-bottom: 45px;
}


.app-form-main {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);

  input {
    margin-bottom: 25px;
    height: 30px;
    font-size: 18px;
  }
  .input {
    outline: none;
    border: 1px solid $light-gray;
    box-shadow: 0;
  }

  label {
    @include primary-font(20px);
    padding-bottom: 5px;
    color: $dark-gray;
  }
}

.app-form-main-details {
  @include display(flex);
  @include align-items(flex-end);

  label {
    display: block;
  }
}

.app-form-main-details-group {
  padding-right: 25px;
}

.width-ruler {
  @include primary-font(15px);
  margin: auto;
  color: $dark-gray;
  border-top: 4px solid $primary;
  height: 7px;
  border-left: 4px solid $primary;
  border-right: 4px solid  $primary;
  padding-left: 5px;
}

.slices-container {
  padding-bottom: 50px;
}

.email-slices {
  margin: auto;
  padding: 25px 0;
  z-index: 10;

  img {
    cursor: pointer;
  }
}


.overlay-container {
  @include align-items(center);
  @include display(flex);
  @include justify-content(center);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 20;
}

.overlay {
  @include align-items(center);
  @include display(flex);
  @include justify-content(center);
  width: 100%;
  height: 80%;
  background-color: $primary;
  z-index: 21;
}

.left-side-form {
  @include display(flex);
  @include flex-direction(column);
  padding-right: 50px;

  label {
    @include primary-font(15px);
    padding-bottom: 5px;
    color: $white;
  }

  input {
    width: 300px;
    height: 20px;
    margin-bottom: 20px;
    border: 1px solid $dark-gray;

    &:focus {
      box-shadow: $dark-gray;
      outline: none;
      border-color: $dark-gray;
    }
  }

  textarea {
    width: 300px;
    border: 1px solid $dark-gray;

    &:focus {
      box-shadow: $dark-gray;
      outline: none;
      border-color: $dark-gray;
    }
  }
}

.image-slice-container {
  float: left;
  position: relative;
}

.submitted-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25px;
  height: 25px;
  padding: 10px;
}

.has-changed-border {
  -webkit-filter: blur(2px) opacity(15%);
  filter: blur(2px) opacity(15%);
}

.overlay-code-box {
  @include align-items(center);
  @include display(flex);
  @include justify-content(center);
  @include flex-direction(column);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $primary;
  z-index: 22;
  color: $white;

  h3 {
    @include primary-font(35px);
    font-weight: bolder;
    color: $white;
  }
}

.code-box {
  background-color: $light-primary;
  width: 80%;
  height: 50%;
  padding: 35px;
  overflow: auto;

  p {
    font-family: monospace;
  }
}

.talking-pigeon {
  position: relative;
  padding-left: 125px;
}

.pigeon-logo-talking {
  position: absolute;
  top: 110px;
  right: 220px;
  width: 125px;
}

.loading-icon {
  height: 30px;
}

.app-form-main-header {
  @include display(flex);
  @include align-items(flex-end);
}

.app-form-checkbox {
  @include display(flex);
  @include align-items(center);
  @include flex-direction(column);
  margin-right: 50px;

  label{
    color: $light-gray;
    font-size: 18px;
  }
}

.text-box {
  width: 600px;
}
