.charge-form-container {
  @include display(flex);
  @include align-items(center);
  @include flex-direction(column);
  width: 100%;
  background-color: white;
  padding: 100px 0;
  height: 100vh;
}

.charge-form-title {
  @include primary-font(45px);
  color: $darkest-gray;
}

.charge-card-container {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  padding: 50px 0;
  width: 100%;
}

.charge-card {
  width: 22%;
  @include display(flex);
  @include flex-direction(column);
  margin: 0 25px;
  padding: 25px 0;
  position: relative;
  height: 500px;
  box-shadow: 0px 17px 22px -5px rgba(177,177,177,0.5);
  cursor: pointer;

  &:hover {
    box-shadow: 0px 30px 45px -12px rgba(177,177,177,0.8);
    transform: translate(0px, -3px) scale(1.01);
  }
}

.charge-card-title {
  @include primary-font(24px);
  color: $darkest-gray;
  text-align: center;
  padding-top: 50px;
}

.charge-card-desc {
  @include primary-font(18px);
  color: $light-gray;
  text-align: center;
  padding: 20px;
}


.stripe-button {
  @include display(flex);
  @include justify-content(center);
  padding-top: 25px;
}

.charge-card-circle {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  height: 60px;
  width: 60px;
  border-radius: 30px;
  background-color: $gold;
  position: absolute;
  top: -20px;
  left: -30px;
  bottom: 0;
  right: 0;
  z-index: 2;

  img {
    width: 20px;
  }
}

.charge-button {
  @include primary-font(22px);
  color: $white;
  position: absolute;
  bottom: 0;
  background-color: $primary;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.charge-button-accent {
  @extend .charge-button;
  background-color: $primary;
}

.payment-completed-container {
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
  @include primary-font(22px);
  height: 100vh;
  width: 100%;
  background: $light-primary;
}
