.charge-form-container {
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
  height: 100vh;
  width: 100%;
  background: $light-primary;
}

.charge-card {
  max-width: 80%;
  border-radius: 25px;
  background: $white;
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(column);
}

.charge-card-top {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(column);
  @include primary-font(22px);
  color: $white;
  background-color: $primary;
  padding: 80px 60px;
  border-radius: 25px 25px 0 0;
}

.charge-card-bottom {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(column);
  @include primary-font(22px);
  text-align: center;
  padding: 60px;
}
