.charge-form-container {
  @include display(flex);
  @include align-items(center);
  @include flex-direction(column);
  width: 100%;
  background-color: $light-primary;
  padding: 100px 0;
  height: 100vh;
}

.charge-form-title {
  @include primary-font(45px);
  color: $white;
}

.charge-card-container {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  padding: 50px 0;
  width: 100%;
}

.charge-card {
  width: 25%;
  border-radius: 25px;
  background: linear-gradient( rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6) ), image-url('geometry2.png') repeat;
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(column);
  margin: 0 20px;
  padding: 25px 0;
  position: relative;
  height: 300px;
}

.charge-card-title {
  @include primary-font(24px);
  color: $primary;
  text-align: center;
}

.charge-card-desc {
  @include primary-font(18px);
  color: $light-gray;
  text-align: center;
  padding: 20px;
}

.charge-card-bottom {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(column);
  @include primary-font(22px);
  background: linear-gradient( rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6) ), image-url('geometry2.png') repeat;
  text-align: center;
  padding: 60px;
}

.stripe-button {
  padding-top: 25px;
}

.charge-button {
  @include primary-font(22px);
  color: $white;
  position: absolute;
  bottom: 0;
  background-color: $primary;
  width: 100%;
  border-radius: 0 0 25px 25px;
  text-align: center;
  padding: 20px 0;
}

.charge-button-accent {
  @extend .charge-button;
  background-color: $accent;
}

.payment-completed-container {
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
  @include primary-font(22px);
  height: 100vh;
  width: 100%;
  background: $light-primary;
}
