.devise-container {
  @include primary-font(22px);
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
  width: 60%;
  margin: auto;
  font-weight: lighter;
  width: 100%;
  height: 100vh;
  background: image-url('signup_bg.jpg');
  background-size: cover;
  color: white;

  a {
    color: white;
  }
}

.devise-heading {
  font-size: 40px;
}

.devise-container-content {
  width: 50%;
}

.devise-opacity-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $dark-gray;
  opacity: 0.5;
}

.field {

  input {
    border-color: white;
    width: 100%;
    margin-bottom: 20px;
    height: 20px;
    font-size: 18px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    background: transparent;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    -webkit-appearance: none;
    border-bottom: solid 1px white;

    &:focus{
        outline: none;
        border-bottom: solid 1px white;
        color: white;
    }
  }

  // Chrome autofill background default
  .field input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
  }

    label, em {
      color: white;
    }
}

.actions input {
  @include primary-font(20px);
  color: white;
  background-color: Transparent;
  border: 1px solid white;
  padding: 7px 40px;
  margin-bottom: 15px
}
