.hero-container {
  width: 100%;
  height: 600px;
  position: relative;
}

.hero-primary {
  width: 100%;
  height: 50%;
  background-color: $primary;
}

.hero-white {
  @extend .hero-primary;
  background-color: $white;
}

.hero-video {
  height: 400px;
  width: 60%;
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), image-url('video.jpg');
  background-size: cover;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 2;
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
  border-radius: 25px;
}

.play-icon-circle {
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
  width: 70px;
  height: 70px;
  background-color: $secondary-dark;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: lighten($secondary-dark, 3%);
  }
}

.play-icon-triangle {
  width: 0;
  height: 0;
  border-bottom: 10px solid transparent;  /* left arrow slant */
  border-top: 10px solid transparent; /* right arrow slant */
  border-left: 15px solid $white; /* bottom, add background color here */
  font-size: 0;
  line-height: 0;
}


.main-cta-container {
  @include display(flex);
  @include align-items(center);
  @include flex-direction(column);
  height: 500px;
  padding: 25px;

  img {
    width: 75px;
    padding: 45px 0;
  }
}

.main-cta-body {
  max-width: 500px;
  padding-bottom: 20px;
}

.how-to-container {
  background-color: $light-primary;
  width: 100%;
  padding: 100px 0;
}

.how-to-box-container {
  width: 97%;
  height: 500px;
  margin: auto;
}

.how-to-card-container {
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(space-around);
  padding: 25px 0;
}

.how-to-card {
  @include display(flex);
  @include flex-direction(column);
  height: 500px;
  width: 18%;
  background-color: $white;
  border-radius: 25px;
  box-shadow: 0px 17px 10px -7px rgba(0,0,0,0.4);
  transition: all ease-in-out 300ms;

  &:hover {
    box-shadow: 0px 37px 40px -22px rgba(0,0,0,0.4);
    transform: translate(0px, -3px) scale(1.01);
  }
}

.how-to-card-title {
  @include primary-font(25px);
  color: $white;
  background-color: $primary;
  width: 100%;
  border-radius: 25px 25px 0 0;
  padding: 10px 0 10px 25px;
  box-sizing: border-box;
}

.how-to-card-icon {
  @include display(flex);
  @include align-items(center);
  padding: 40px 0;
  width: 100%;
  img {
    width: 40%;
    margin: auto;
  }
}

.how-to-card-type {
  @include primary-font(16px);
  font-weight: bolder;
  color: $secondary-dark;
  padding-left: 25px;
}

.how-to-card-body {
  @include primary-font(16px);
  color: $dark-gray;
  padding: 10px 25px;
}

.review-container {
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(space-around);
  padding: 125px 0;
}

.review-card {
  width: 25%;
  border-radius: 25px;
  border: 1px solid $light-gray;
  padding: 25px;
}

.review-card-top {
  @include display(flex);
  @include flex-direction(row);
  @include align-items(center);
}

.review-image {
  width: 55px;
  height: 55px;
  border: 1px solid $light-gray;
  border-radius: 50%;
}

.review-name-group {
  padding-left: 10px;
}

.review-name {
  @include primary-font(25px);
  font-weight: 600;
  color: $dark-gray;
  font-style: italic;
}

.review-stars {
  img{
    height: 20px;
  }
}

.review-bottom {
  padding-top: 50px;
}

.review-title {
  @include primary-font(22px);
  color: $light-primary;
  padding-bottom: 10px;
}

.review-body {
  @include primary-font(16px);
  color: $dark-gray;
  font-weight: normal;
  font-style: italic;
}
