.hero-container {
  width: 100%;
  height: 600px;
  position: relative;
}

.hero-primary {
  width: 100%;
  height: 50%;
  background-color: $primary;
}

.hero-white {
  @extend .hero-primary;
  background-color: $white;
}

.hero-video {
  height: 400px;
  width: 60%;
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), image-url('video.jpg');
  background-size: cover;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 2;
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
  border-radius: 25px;
}

.play-icon-circle {
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
  width: 70px;
  height: 70px;
  background-color: $secondary-dark;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: lighten($secondary-dark, 3%);
  }
}

.play-icon-triangle {
  width: 0;
  height: 0;
  border-bottom: 10px solid transparent;  /* left arrow slant */
  border-top: 10px solid transparent; /* right arrow slant */
  border-left: 15px solid $white; /* bottom, add background color here */
  font-size: 0;
  line-height: 0;
}


.main-cta-container {
  @include display(flex);
  @include align-items(center);
  @include flex-direction(column);
  height: 500px;
  padding: 25px;

  img {
    width: 75px;
    padding: 45px 0;
  }
}

.main-cta-body {
  max-width: 500px;
  padding-bottom: 20px;
}

.how-to-container {
  background-color: $light-primary;
  width: 100%;
  padding: 100px 0;
}

.how-to-box-container {
  width: 97%;
  height: 500px;
  margin: auto;
}
