.hero-container {
  width: 100%;
  height: 600px;
  position: relative;
}

.hero-primary {
  width: 100%;
  height: 50%;
  background-color: $primary;
}

.hero-white {
  @extend .hero-primary;
  background-color: $white;
  background: linear-gradient( rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6) ), image-url('geometry2.png') repeat;
}

.hero-video {
  height: 400px;
  width: 60%;
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), image-url('video.jpg');
  background-size: cover;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 2;
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
  border-radius: 25px;
}

.play-icon-circle {
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
  width: 70px;
  height: 70px;
  background-color: $secondary-dark;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 9px 10px -5px rgba(0,0,0,0.4);
  transition: all ease-in-out 300ms;

  &:hover {
    box-shadow: 0px 37px 40px -22px rgba(0,0,0,0.4);
    transform: translate(0px, -3px) scale(1.01);
  }
}

.play-icon-triangle {
  width: 0;
  height: 0;
  border-bottom: 10px solid transparent;  /* left arrow slant */
  border-top: 10px solid transparent; /* right arrow slant */
  border-left: 15px solid $white; /* bottom, add background color here */
  font-size: 0;
  line-height: 0;
}


.main-cta-container {
  @include display(flex);
  @include align-items(center);
  @include flex-direction(column);
  height: 500px;
  padding: 25px;
  background: linear-gradient( rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6) ), image-url('geometry2.png') repeat;

  img {
    width: 75px;
    padding: 45px 0;
  }
}

.main-cta-body {
  max-width: 500px;
  padding-bottom: 20px;
}

.how-to-container {
  background-color: $light-primary;
  width: 100%;
  padding: 100px 0;
}

.how-to-box-container {
  width: 100%;
  height: 500px;
  margin: auto;
}

.how-to-card-container {
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(space-around);
  padding: 50px 0;
}

.how-to-card {
  @include display(flex);
  @include flex-direction(column);
  height: 500px;
  width: 22%;
  background-color: $white;
  border-radius: 25px;
  box-shadow: 0px 17px 10px -7px rgba(0,0,0,0.4);
  transition: all ease-in-out 300ms;

  &:hover {
    box-shadow: 0px 37px 40px -22px rgba(0,0,0,0.4);
    transform: translate(0px, -3px) scale(1.01);
  }
}

.how-to-card-title {
  @include primary-font(25px);
  color: $white;
  background-color: $primary;
  width: 100%;
  border-radius: 25px 25px 0 0;
  padding: 10px 0 10px 25px;
  box-sizing: border-box;
}

.how-to-card-icon {
  @include display(flex);
  @include align-items(center);
  padding: 40px 0;
  width: 100%;
  img {
    width: 25%;
    margin: auto;
  }
}

.how-to-card-type {
  @include primary-font(16px);
  font-weight: bolder;
  color: $secondary-dark;
  padding-left: 25px;
}

.how-to-card-body {
  @include primary-font(16px);
  color: $dark-gray;
  padding: 10px 25px;
}

.review-container {
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(space-around);
  padding: 200px 0;
  background: linear-gradient( rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6) ), image-url('geometry2.png') repeat;
}

.review-card {
  width: 25%;
  border-radius: 25px;
  border: 1px solid $light-gray;
  padding: 25px;
  box-shadow: 0px 17px 10px -7px rgba(0,0,0,0.4);
  transition: all ease-in-out 300ms;
  background-color: $white;

  &:hover {
    box-shadow: 0px 37px 40px -22px rgba(0,0,0,0.4);
    transform: translate(0px, -3px) scale(1.01);
  }
}

.review-card-top {
  @include display(flex);
  @include flex-direction(row);
  @include align-items(center);
}

.review-image {
  width: 55px;
  height: 55px;
  border: 1px solid $light-gray;
  border-radius: 50%;
}

.review-name-group {
  padding-left: 10px;
}

.review-name {
  @include primary-font(25px);
  font-weight: 600;
  color: $dark-gray;
  font-style: italic;
}

.review-stars {
  img{
    height: 20px;
  }
}

.review-bottom {
  padding-top: 50px;
}

.review-title {
  @include primary-font(22px);
  color: $light-primary;
  padding-bottom: 10px;
}

.review-body {
  @include primary-font(16px);
  color: $dark-gray;
  font-weight: normal;
  font-style: italic;
}

.cta-container {
  padding: 150px 0;
  background-color: $light-primary;
  width: 100%;
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
}

.cta-card {
  border-radius: 25px;
  background-color: $white;
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(column);
  background: linear-gradient( rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6) ), image-url('geometry2.png') repeat;
  // box-shadow: 0px 17px 10px -7px rgba(0,0,0,0.4);
  // transition: all ease-in-out 300ms;
  //
  // &:hover {
  //   box-shadow: 0px 47px 47px -32px rgba(0,0,0,0.4);
  //   transform: translate(0px, -3px) scale(1.01);
  // }
}

.cta-top {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(column);
  background-color: $primary;
  padding: 60px;
  border-radius: 25px 25px 0 0;
}

.cta-bottom {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(column);
  padding: 60px;
}

.cta-title {
  @include primary-font(35px);
  color: $white;
  text-align: center;
}

.cta-subtitle {
  @include primary-font(25px);
  color: $white;
  text-align: center;
}

.cta-subtitle-primary {
  @extend .cta-subtitle;
  font-size: 35px;
  color: $primary;
}

.cta-icon {
  img {
    width: 75px;
    padding: 20px 0;
  }
}

.cta-price {
  @include primary-font(80px);
  color: $primary;
  text-align: center;
  font-weight: normal;
}

.cta-month {
  @include primary-font(16px);
  color: $secondary-dark;
}

.footer {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background: linear-gradient( rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6) ), image-url('geometry2.png') repeat;

  img {
    width: 100px;
  }
}

.contact {
  @include primary-font(25px);
  color: $primary;
  padding-bottom: 20px;
}

.made-by {
  @include primary-font(20px);
  padding: 25px 0;
  color: $light-primary;
}

// Mobile Screens
@media (max-width: 900px) {
  .hero-video {
    width: 85%;
    height: 300px;
  }
  .how-to-card-container {
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
  }

  .how-to-card {
    width: 85%;
    margin: 25px 0;
  }

  .review-container {
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    padding: 100px 0;
  }

  .review-card {
    margin: 25px 0;
    width: 75%;
  }

  .cta-card {
    width: 85%;
  }

  .cta-top {
    padding: 60px;
  }

  .cta-bottom {
    padding: 45px;
  }

  .cta-price {
    font-size: 60px;
  }
}

.pricing-container {
  @include display(flex);
  @include align-items(center);
  @include flex-direction(column);
  width: 100%;
  background-color: $light-primary;
  padding: 100px 0;
}

.pricing-card-container {
  @include display(flex);
  @include align-items(center);
  @include justify-content(space-around);
  padding: 50px 0;
  width: 100%;
}

.pricing-card {
  position: relative;
  height: 300px;
  width: 25%;
  background-color: $white;
  border-radius: 25px;
  box-shadow: 0px 17px 10px -7px rgba(0,0,0,0.4);
  transition: all ease-in-out 300ms;
  background: linear-gradient( rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6) ), image-url('geometry2.png') repeat;

  &:hover {
    box-shadow: 0px 37px 40px -22px rgba(0,0,0,0.4);
    transform: translate(0px, -3px) scale(1.01);
  }
}

.pricing-name {
  @include primary-font(25px);
  color: $primary;
  text-align: center;
  padding-top: 25px;
}

.pricing-price {
  @include primary-font(55px);
  color: $primary;
  text-align: center;
  padding: 25px;
}

.price-detail {
  @include primary-font(18px);
  color: $primary;
}

.pricing-details {
  @include primary-font(22px);
  color: $light-gray;
  text-align: center;
}

.pricing-details-gold {
  @extend .pricing-details;
  color: $accent;
}

.pricing-button {
  @include primary-font(22px);
  color: $white;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  background-color: $primary;
  width: 100%;
  border-radius: 0 0 25px 25px;
  text-align: center;
  padding: 20px 0;
}
