.new_home-container {
  width: 100%;
}

.new_home-nav-button-container {
  position: fixed;
  z-index: 1979;
  right: 0;
  @include display(flex);
  @include justify-content(space-between);
  padding: 20px;
}

.nav_home-button-rounded-border {
  @extend .rounded-border-button;
  margin-left: 20px;
}

.new_landing-container {
  width: 100%;
  height: 100vh;
  background: image-url('bg_image_new.jpg');
  background-size: cover;
  @include display(flex);
  @include justify-content(flex-end);
  @include align-items(center);
}

.new_landing-body-container {
  @include display(flex);
  @include flex-direction(column);
  width: 50%;
  color: white;
  padding-right: 50px;
}

.new_landing-body-title {
  @include primary-font(80px);
  font-weight: lighter;
  color: white;
}

.new_landing-body-sub-title {
  @include primary-font(34px);
  color: white;
  padding-top: 50px;
  font-weight: lighter;
}

.new_landing-body-icon {
  padding-top: 50px;
  //width: 300px;
}

.new_landing-accent-block {
  width: 100%;
  height: 5px;
  background-color: $accent;
}

// Second section
.new_landing-first-section-container {
  @include display(flex);
  @include flex-direction(row);
  width: 100%;
  padding: 125px 0;
  background-color: white;
}

.new_landing-first-section-cta{
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  width: 50%;
  padding: 0 70px;
}

.new_landing-first-section-cta-title {
  @include primary-font(24px);
  font-weight: lighter;
}

.new_landing-first-section-cta-body {
  @extend .body-dark;
  padding: 20px 0;
}

.new_landing-first-section-icon-container {
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
  width: 40%;
}

// Third section
.new_landing-second-section-container {
  @include display(flex);
  @include flex-direction(column);
  width: 100%;
  padding: 125px 0 0 0;
  background: linear-gradient(145deg,  $primary 0%, $accent 100%);
}

.new_landing-second-section-image {
  width: 50%;
  background: image-url('knapsack-bg.jpg');
  background-size: cover;
  height: 450px;
}

.new_landing-second-section-bottom-container {
  width: 100%;
  @include display(flex);
  //@include justify-content(center);
  @include align-items(center);
  @include flex-direction(column);
  margin-bottom: 100px;
}

.new_landing-second-section-title {
  @include primary-font(30px);
  color: white;
  font-weight: bold;
  margin-bottom: 25px;
}

.new_landing-second-section-body {
  @include primary-font(18px);
  color: white;
  font-weight:lighter;
  width: 100%;
  text-align: center;
  margin-bottom: 45px;
}

// Dashboard section

.new_landing-dashboard-section-image  {
  width: 45%;

  img {
    width: 100%;
    @extend .shadow;
  }
}

//Review section
.new_landing-review-section-container {
  @include display(flex);
  @include justify-content(space-around);
  @include flex-direction(row);
  padding: 150px 0;
  width: 100%;
}

.new-landing-review-card {
  @include display(flex);
  @include justify-content(center);
  @include flex-direction(column);
  @extend .shadow;
  border-radius: 10px;
  width: 40%;
  position: relative;
}

.new-landing-review-cta-container {
  @include display(flex);
  @include justify-content(center);
  @include flex-direction(column);
  width: 40%;
}

.new-landing-review-cta-title {
  @extend .title-dark;
  font-size: 30px;
}

.new-landing-review-cta-body {
  @extend .body-dark;
  margin: 20px 0;
}

.new-landing-review-card-circle {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: $primary;
  color: white;
  position: absolute;
  top: -20px;
  left: -20px;
  bottom: 0;
  right: 0;
  z-index: 2;

  img {
    width: 20px;
  }
}

.new-landing-review-card-image-1 {
  background: image-url('review_1.jpg');
  border-radius: 10px 10px 0 0;
  background-size: cover;
  height: 350px;
  width: 100%;
}

.new-landing-review-card-image-2 {
  background: image-url('review_3.jpg');
  border-radius: 10px 10px 0 0;
  background-size: cover;
  height: 200px;
  width: 100%;
}

.new-landing-review-card-image-3 {
  background: image-url('review_2.jpg');
  border-radius: 10px 10px 0 0;
  background-size: cover;
  height: 200px;
  width: 100%;
}

.new-landing-review-card-bottom {
  @include display(flex);
  @include align-items(center);
  @include flex-direction(column);
  padding: 25px 0;
  width: 100%;
}

.new-landing-review-card-bottom-title {
  @extend .title-dark;
  padding-bottom: 20px;
}

.new-landing-review-card-bottom-line {
  height: 1px;
  width: 50%;
  background-color: $light-gray;
}

.new-landing-review-card-bottom-body {
  @extend .body-dark;
  padding: 20px;
}

//Mailing list
.new-landning-mailing-list-container {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  width: 100%;
  padding: 125px 0;
  background: $primary;
}

#mc_embed_signup {
  @include display(flex);
  @include align-items(center);
  //@include justify-content(center);
  @include flex-direction(column);
}

#mc_embed_signup_scroll {
  @include display(flex);
  @include align-items(center);
  //@include justify-content(center);
  @include flex-direction(column);

  label {
    @include primary-font(36px);
    font-weight: lighter;
    color: white;
  }
}

#mc_embed_signup {
  width: 100%;
  form {
    width: 100%;
  }
}
#mc-embedded-subscribe {
  background-color: white;
  padding: 20px;
}

#mc-embedded-subscribe {
  @include primary-font(16px);
  margin-top: 30px;
  font-weight: lighter;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: $darkest-gray;
  background: #ffffff;
  padding: 10px 70px 10px 70px;
  border: solid #fff 1px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

#mc-embedded-subscribe:hover {
  background: #f0f0f0;
  text-decoration: none;
}

#mc_embed_signup_scroll input[type="email"]  {
  margin-top: 30px;
  padding: 10px;
  border: none;
  border-bottom: solid 2px $light-gray;
  transition: border 0.3s;
  width: 50%;
}
#mc_embed_signup_scroll input[type="email"]:focus,
#mc_embed_signup_scroll input[type="email"].focus {
  border: none;
  outline: none;
  border-bottom: solid 2px $dark-gray;

}

//General
.new_landing-link {
  @include primary-font(18px);
  font-weight: 400;
  text-decoration: none;
  color: $primary;
  cursor: pointer;
}

.new_landing-link-white {
  @extend .new_landing-link;
  color: white;
  font-weight: bold;
}
