.profile-container {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  @include primary-font(20px);
  @include display(flex);
  @include flex-direction(row);

  color: $black;
}

.profile-account-user {
  @include primary-font(12px);
  margin: 20px;
  padding: 5px 50px;
  border-radius: 25px;
  border: 1px solid $darkest-gray;
  //background-color: $primary;
  color: $darkest-gray;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top:0;
  right:0;
}

.profile-container-show {
  @extend .profile-container;
  @include flex-direction(column);
  @include align-items(center);
}

.profile-sidebar {
  width: 90px;
  background-color: white;
  height: 100%;
  min-height: 100vh;
  padding-top: 60px;
}

.profile-sidebar-item {
  @include display(flex);
  @include justify-content(center);
  width: 100%;
  color: $white;
  padding: 15px 0;
  cursor: pointer;
  font-size: 17px;
  border-left: 3px solid white;
  padding-right: 3px;
  &:hover {
    border-left: 3px solid $primary;
    color: $white;

    a {
      color: $white;
    }
  }

  a {
    img {
      width: 32px;
    }
    text-decoration: none;
  }
}

.profile-sidebar-item-active {
  @extend .profile-sidebar-item;
  border-left: 3px solid $primary;
}

.profile-content {
  width: 100%;
  @include display(flex);
  @include align-items(center);
  @include flex-direction(column);
  background-color: $lightest-gray;
}

.profile-content-header {
  margin-top: 60px;
  width: 80%;
}

.profile-content-header-title {
  @include primary-font(30px);
  font-weight: bold;
  color: $darkest-gray;
}

.profile-content-header-underline {
  margin-top: 14px;
  width: 100%;
  height: 6px;
  background-color: $light-gray;
}

.profile-content-button-row {
  @include display(flex);
  @include justify-content(flex-end);
  width: 80%;
  padding: 10px 0;
}

.profile-title {
  font-size: 27px;
  padding-top: 25px;
  padding-left: 45px;
  font-weight: lighter;
}

.profile-code-box {
  width: 80%;
  height: 600px;
  overflow-y: auto;
  background-color: $light-gray;
  padding: 25px;
  font-family: monospace;
  color: $black;
  font-size: 14px;
  margin: 25px 0;
}

.profile-top-dashboard-container {
  @include display(flex);
  @include flex-direction(row);
  width: 90%;
  background-color: $white;
  height: 200px;
  margin-top: 25px;
}

.profile-top-dashboard-item {
  font-size: 15px;
  width: 25%;
  height: 100%;
  border-right: 2px solid $lightest-gray;

  i {
    font-size: 14px;
  }
}

.profile-top-dashboard-item-group {
  padding: 35px;
}

.profile-dashboard-item-title {
  margin-top: 50px;
}

.profile-dashboard-item-count {
  display: block;
  font-size: 30px;
  padding-top: 10px;
  font-weight: lighter;
}

.profile-dashboard-card {
  width: 70%;
  height: 150px;
  background-color: $white;
  margin: 25px auto 0 auto;
  padding: 75px 25px;
  text-align: center;
}

.profile-dashboard-card-title {
  font-size: 27px;
  font-weight: lighter;
}

.profile-dashboard-card-desc {
  display: block;
  font-size: 14px;
  font-weight: lighter;
  color: $light-gray;
  padding-top: 10px;
}

.profile-pigeon-container {
  width: auto;
  height: 150px;
  padding: 50px 0;
}

.profile-pigeon {
  position: absolute;
  top: 57px;
  left: -15px;
  width: 125px;
}

.templates-table {
  width: 80%;
  height: auto;
}

.templates-row {
  border-bottom: 1px solid $black;
  width: 100%;
  padding-top: 10px;
}

.templates-date {
  //float: left;
  display: inline;
}

.templates-view {
  //float: right;
  display: inline;
  float: right;
}

// Template cards
.profile-table {
  @include display(flex);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  @include primary-font(20px);

  width: 80%;
}

.template-card {
  @include display(flex);
  @include flex-direction(column);
  @extend .shadow;
  background-color: white;
  margin-top: 30px;
  width: 42%;
  padding: 20px;
  cursor: pointer;
}

.template-row {
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(space-between);
  padding: 5px 0;

    a {
      text-decoration: none;
    }
}

.template-name {
  font-size: 25px;
  font-weight: bold;
  color: $darkest-gray;
}

.template-small-label {
  font-size: 15px;
  color: $darkest-gray;
}

.template-small-label-gray {
  @extend .template-small-label;
  color: $light-gray;
}

.status-cell {
  @include display(flex);
  @include flex-direction(row);
  @include align-items(center);
  color: $accent;
  font-size: 15px;
}

.status-cell-circle {
  width: 12px;
  height: 12px;
  margin-right: 4px;
  background-color: $accent;
  border-radius: 6px;
}

.status-cell-incomplete {
  @extend .status-cell;
  color: $error;

  .status-cell-circle {
    background-color: $error;
  }
}


@media (max-width: 900px) {
  .profile-table  {
    @include justify-content(center);
    padding-bottom: 30px;
  }
  .template-card {
    width: 80%;
  }
}
