.profile-container {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  @include primary-font(20px);
  @include display(flex);
  @include flex-direction(row);

  color: $black;
  a {
  text-decoration: underline;
  color: $primary;
  }
}

.profile-container-show {
  @extend .profile-container;
  @include flex-direction(column);
  @include align-items(center);
}

.profile-sidebar{
  width: 25%;
  background-color: $primary;
  height: 100%;
  min-height: 100vh;
  border-right: $primary 3px solid;
}

.profile-sidebar-item {
  width: 100%;
  background-color: $white;
  color: $primary;
  padding: 10px 0;
  text-align: left;
  cursor: pointer;
  border-bottom: $primary 3px solid;


  &:hover {
    background: $primary;
    color: $white;

    a {
      color: $white;
    }
  }

  a {
    padding-left: 25px;
    color: $primary;
    text-decoration: none;
  }
}

.profile-content {
  width: 75%;
  @include display(flex);
  @include align-items(center);
  @include flex-direction(column);
}

.profile-title {
  font-size: 30px;
  padding-top: 25px;
}

.profile-code-box {
  width: 80%;
  height: 600px;
  overflow-y: auto;
  background-color: $light-gray;
  padding: 25px;
  font-family: monospace;
  color: $black;
  font-size: 14px;
  margin: 25px 0;
}

.profile-pigeon-container {
  width: auto;
  height: 150px;
  padding: 50px 0;
}

.profile-pigeon {
  position: absolute;
  top: 57px;
  left: -15px;
  width: 125px;
}

.templates-table {
  width: 80%;
  height: auto;
}

.templates-row {
  border-bottom: 1px solid $black;
  width: 100%;
  padding-top: 10px;
}

.templates-date {
  //float: left;
  display: inline;
}

.templates-view {
  //float: right;
  display: inline;
  float: right;
}
