.slice-tracker-container {
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(center);
  @include align-items(center);
  width: 100%;
  padding: 25px 0;
  //background-color: $lightest-gray;
}

.status-bar-circle-completed {
  width: 24px;
  height: 24px;
  background-color: $primary;
  border-radius: 12px;
}

.status-bar-circle-incomplete {
  width: 21px;
  height: 21px;
  border: 3px solid $light-gray;
  border-radius: 14px;
}

.status-bar-line-completed {
  width: 100px;
  height: 4px;
  background-color: $primary;
}

.status-bar-line-incomplete {
  @extend .status-bar-line-completed;
  background-color: $light-gray;
}

.status-bar-circle-active-outside {
  width: 21px;
  height: 21px;
  border: 3px solid $primary;
  border-radius: 14px;
}

// .status-bar-circle-active-inside {
//   width: 14px;
//   height: 14px;
//   background-color: $primary;
//   border-radius: 7px;
// }
