// Place all the styles related to the slice_tool controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#canvas {
  background-color: blue;
}
// top level
.slice-manager-container {
  background-color: $lightest-gray;
  width: 100%;
  height: 100%;
  @include display(flex);
  //@include justify-content(center);
  @include align-items(center);
  @include flex-direction(column);
}

//reusable
.slice-component-container {
  @include display(flex);
  //@include justify-content(center);
  @include align-items(center);
  @include flex-direction(column);
  background-color: white;
  padding: 50px 0;
  width: 600px;
  margin-bottom: 50px;
  position: relative;
}

// upload
.slice-tool-container-inputs {
  width: 100%;
  height: 100vh;
  @include display(flex);
  //@include justify-content(center);
  @include align-items(center);
  @include flex-direction(column);
}

.slice-tool-container-inputs-error {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: $error;
  color: white;
  position: absolute;
  top: -20px;
  left: -20px;
  bottom: 0;
  right: 0;
  z-index: 2;

  img {
    width: 20px;
  }
}

// slice tool
.slice-tool-container {
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(space-around);
  width: 95%;
  height: auto;
}

.slice-tool-left-rail {
  width: 250px;
}

.slice-tool-left-rail-button-container {
  width: 250px;
  position: fixed;
  z-index: 2;
}

.slice-tool-right-email-container {
  width: 65%;
}

.slice-tool-button {
  width: auto;
  padding: 10px 0;
  margin-bottom: 15px;
  text-align: center;
}

.slice-tool-small-button-container {
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(space-between);
  width: 100%;
  margin-bottom: 15px;
}

.slice-tool-small-button {
  @extend .button;
  @include display(flex);
  @include flex-direction(column);
  width: 40%;
  padding: 10px 0;
  text-align: center;
  background-color: white;
  color: $darkest-gray;
}
