<div class="profile-container">
  <div class="profile-sidebar">
    <div class="profile-sidebar-item">
      Templates
    </div>
    <div class="profile-sidebar-item">
      Profile
    </div>
    <div class="profile-sidebar-item">
      Account
    </div>
  </div>
  <div class="profile-content">
    <span class="profile-title">Templates</span>
    <br />
    <div class="profile-pigeon-container">
      <div class="talking-pigeon">
        <%= image_tag('primary-pigeon.png',:class => "profile-pigeon") %>
        <div class="talk-bubble-primary tri-right-primary round btm-left-primary">
          <div class="talktext-primary">
            <p>Our pigeons coded <%= @templates.count %> emails for you so far!</p>
          </div>
        </div>
      </div>
    </div>
    <% @templates.each do |template| %>
      <li><%= template.created_at.strftime("%m/%d/%Y") %> <%= link_to 'View', template_path(template) %></li>
    <% end %>
  </div>
</div>
