$primary: #637DCF;
$light-primary: #9FADE4;
$secondary-dark: #FD7874;
$secondary-light: #F4B5B5;
$dark-gray: #898E9B;
$light-gray: #D2D6DF;
$lightest-gray: lighten($light-gray, 10%);
$accent: #23E08B;
$white: #fff;
$black: #333;
$gold: #fff353;
