$primary: #5F07FF;
$light-primary: #9FADE4;
$secondary-dark: #FD7874;
$secondary-light: #F4B5B5;
$darkest-gray: #525252;
$dark-gray: #898E9B;
$light-gray: #D8D8D8;
$lightest-gray: #F5F5F5;
$accent: #21FFBC;
$white: #fff;
$black: #333;
$gold: #fff353;
$error: #f44526;
