@mixin primary-button() {
  @include display(flex);
  @include justify-content(center);
  @include secondary-font(18px);
  color: $white;
  background-color: $primary;
  border-radius: 5px;
  width: 200px;
  padding: 10px;
  margin: 20px auto;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
  transition: all ease-in-out 300ms;

  &:hover {
    box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.4);
    transform: translate(0px, -3px) scale(1.01);
  }
}
