@mixin primary-button() {
  @include display(flex);
  @include justify-content(center);
  @include secondary-font(18px);
  color: $white;
  background-color: $secondary-dark;
  border-radius: 5px;
  width: 200px;
  padding: 10px;
  margin: 20px auto;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
  transition: all ease-in-out 300ms;

  &:hover {
    box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.4);
    transform: translate(0px, -3px) scale(1.01);
  }
}

 // Chat box
 .talk-bubble {
   display: inline-block;
   position: relative;
 	width: 200px;
 	height: auto;
 	background-color: $white;
 }

 .round{
   border-radius: 30px;
 	-webkit-border-radius: 30px;
 	-moz-border-radius: 30px;
 }

 .tri-right.border.btm-left:before {
 	content: ' ';
 	position: absolute;
 	width: 0;
 	height: 0;
 	left: -8px;
   right: auto;
   top: auto;
 	bottom: -4px;
 	border: 32px solid;
 	border-color: transparent transparent transparent #666;
 }

 .tri-right.btm-left:after{
 	content: ' ';
 	position: absolute;
 	width: 0;
 	height: 0;
 	left: 0px;
   right: auto;
   top: auto;
 	bottom: -15px;
 	border: 22px solid;
 	border-color: transparent transparent transparent $white;
 }

 .talktext{
   @include primary-font(18px);
   padding: 1em;
 	text-align: left;
   line-height: 1.5em;
   color: $primary;
 }
 .talktext p{
   /* remove webkit p margins */
   -webkit-margin-before: 0em;
   -webkit-margin-after: 0em;
 }
