.pricing-parent-container {
  width: 100%;
  height: 70vh;
  background-color: $lightest-gray;
  position: relative;
  margin-top: 125px;
}

.pricing-container {
  @include display(flex);
  @include justify-content(space-around);
  @include flex-direction(row);
  width: 100%;
  padding: 25px 0;
  position: absolute;
  top: -125px;
  left: 0;
}

.pricing-card {
  @include display(flex);
  //@include align-items(center);
  @include justify-content(center);
  @include flex-wrap(wrap);
  @include align-content(space-around);
  @extend .shadow;
  background-color: white;
  padding: 25px;
  width: 275px;
  height: 500px;
  text-align: center;
}

.pricing-card-cost-box {
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
  @include flex-direction(row);
  @include primary-font(22px);
  background-color: darken($darkest-gray, 15);
  border-radius: 10px;
  width: 70%;
  height: 120px;
  margin-top: 40px;
  color: white;

}

.pricing-card-info-container {
  width: 100%;
  @include display(flex);
  @include align-items(center);
  @include flex-direction(column);
}

.pricing-card-cost-box-number {
  font-size: 55px;
  font-weight: 300;
}

.pricing-card-cost-box-money {
  font-size: 30px;
  color: $light-gray;
  font-weight: 100;
}

.pricing-card-cost-box-detail {
  @extend .body-dark;
  margin: 15px 0 35px 0;
}

.pricing-card-cost-box-list-item {
  @extend .body-dark;
  margin: 3px 0;
}
