.shadow {
  box-shadow: 0px 17px 25px 0px rgba(177,177,177,0.2);
}
.margin-top-25px {
  margin-top: 25px;
}

.margin-top-50px {
  margin-top: 50px;
}

.margin-right-20px {
  margin-right: 20px;
}

.padding-top-25px {
  padding-top: 25px;
}

.padding-bottom-25px {
  padding-bottom: 25px;
}

.width-100 {
  width: 100%;
}

.center {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.dark-gray-title {
  @include primary-font(35px);
  font-weight: bolder;
  color: $dark-gray;
}

.white-title {
  @include primary-font(35px);
  font-weight: bolder;
  color: $white;
}

.dark-title {
  @include primary-font(35px);
  font-weight: bolder;
  color: $darkest-gray;
}

.white-body {
  @include primary-font(18px);
  color: $white;
}

.dark-gray-body {
  @include primary-font(18px);
  color: $dark-gray;
}

//buttons
.button {
  font-family: 'Helvetica Neue';
  font-weight: normal;
  letter-spacing: 2px;
  padding: 14px 95px;
  font-size: 18px;
  cursor: pointer;
  border: none;
}
.dark-button {
  @extend .button;
  background-color: $darkest-gray;
  color: white;
}

.white-button {
  @extend .button;
  background-color: white;
  color: $darkest-gray;
}

.white-dark-border-button {
  @extend .button;
  background-color: white;
  color: $darkest-gray;
  border: 3px solid $darkest-gray;
}

.rounded-primary-button {
  @include primary-font(12px);
  margin: 5px 0;
  padding: 8px 40px;
  border-radius: 20px;
  background-color: $primary;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.buy-button-primary-arrow {
  @extend .button;
  @extend .shadow;
  background-color: $primary;
  position: relative;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  padding: 24px 55px;
  text-transform: uppercase;

  i {
    transition: all 0.2s ease-in-out;
  }

  &:hover > i {
    transform: translate(3px, 0px);
  }
}
//
// .button {
//   font-family: 'Helvetica Neue';
//   font-weight: bold;
//   padding: 14px 95px;
//   font-size: 18px;
//   display: inline-block;
//   positionz: relative;
//   cursor: pointer;
//   border: none;
//   width:100px;
// }
//
// .dark-button {
//   @extend .button;
//   background-color: #333;
//   color: white;
//
//   .icon {
//     padding-left: 5px;
//     position: absolute;
//     transition: all 0.2s ease-in-out;
//   }
//
//   &:hover > .icon {
//       transform: translate(5px, 0px);
//   }
// }
