<div class="hero-container">
  <div class="hero-primary">

  </div>
  <div class="hero-video">
    <div class="play-icon-circle">
      <div class="play-icon-triangle"></div>
    </div>
  </div>
  <div class="hero-white">

  </div>
</div>
