<div class="hero-container">
  <div class="hero-primary">

  </div>
  <div class="hero-video">
    <div class="play-icon-circle">
      <div class="play-icon-triangle"></div>
    </div>
  </div>
  <div class="hero-white">

  </div>
</div>
<div class="main-cta-container">
  <div class="dark-gray-title center">
    Pigeon Post
  </div>
  <%= image_tag('primary-pigeon.png') %>
  <div class="dark-gray-body main-cta-body center">
    Lorem ipsum dolor sit amet, vis ne error assentior, ei graeco rationibus persequeris nec, pro tollit maluisset ne. Brute ceteros eleifend sit ex. An tollit regione vocibus duo.ertinacia ea
  </div>
  <div class="primary-button">Sign up</div>
</div>
