<div class="new_home-container">
  <div class="new_landing-container">
    <div class="new_landing-body-container">
      <div class="new_landing-body-title">
        Come live in<br />the future
      </div>
      <div class="new_landing-body-sub-title">
        Simple, seamless smart emails, really<br />fast. Using our awesome tool.
      </div>
      <div class="new_landing-body-icon">
        <%= image_tag('play_icon_new.png') %>
      </div>
    </div>
  </div>
  <div class="new_landing-accent-block"></div>
</div>
