.nav {
  @include primary-font(20px);
  @include display(flex);
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(space-between);
  width: 100%;
  background: $primary;
  color: $white;
  height: 65px;
}

.nav-logo {
  padding-left: 25px;
  font-weight: 900;
}

.auth-group {
  padding-right: 25px;

  a {
    font-weight: lighter;
    font-size: 18px;
    text-decoration: none;
    color: $white;
    padding-left: 15px;
  }
}
