<div class="account-name-container">

  <span class="account-name-title">Whats your company/team name?</span>
  <span class="account-name-subtitle">This will be your account name + we'll use it<br />when you invite users to the app!</span>
  <div class="slice-component-container">
    <input class="input-lg" placeholder="Team Name" type="text" />
  </div>
  <div class="dark-button">Enter</div>

</div>
