@import 'normalize.scss',
  'helpers/color.scss',
  'helpers/fonts.scss',
  'helpers/inputs.scss',
  'helpers/components.scss',
  'helpers/reusables.scss',
  'partials/nav.scss',
  'pages/home.scss',
  'pages/new_home.scss',
  'pages/app.scss',
  'pages/charges.scss',
  'pages/devise.scss',
  'pages/profile.scss',
  'pages/slice_tool.scss',
  'pages/slice_tool_tracker.scss',
  'pages/loading_overlay.scss',
  'pages/account.scss';

 body {
   margin: 0;
   width: 100%;
 }

.primary-button {
   @include primary-button;
}

.circle-add-button {
   @include display(flex);
   @include align-items(center);
   @include justify-content(center);
   height: 40px;
   width: 40px;
   background-color: $light-gray;
   // border-radius: 50%;
   color: $white;
   font-size: 22px;
   font-weight: bolder;
   line-height: 0;
   letter-spacing: 0;
   cursor: pointer;
}

.circle-add-button-active {
  @extend .circle-add-button;
  font-size: 16px;
  background-color: $accent;
}

.notifications {
  text-align: center;
  @include primary-font(20px);
  position: absolute;
  background-color: white;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 20px;
  width: 30%;
  box-shadow: 0px 17px 22px -5px rgba(177,177,177,0.5);

  .notice {
    color: $darkest-gray;
    font-weight: lighter;
    padding-top: 20px;
  }

  .alert {
    color: $error;
    font-weight: lighter;
    padding-top: 20px;
  }

  .close-notification-button {
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    background-color: #f44526;
    font-size: 10px;
    border-radius: 20px;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 2;
    color: white;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
}
