<div class="profile-container">
  <div class="profile-sidebar">
    <div class="profile-sidebar-item">
      <a>Templates</a>
    </div>
    <div class="profile-sidebar-item">
      <a>Profile</a>
    </div>
    <div class="profile-sidebar-item">
      <a>Account</a>
    </div>
  </div>
  <div class="profile-content">
    <!-- <span class="profile-title">Templates</span>
    <br /> -->

  </div>
</div>
