<div class="charge-form-container">
  <div class="charge-card">
    <div class="charge-card-top">
      Thanks for your payment, you are now ready to use our pigeons
    </div>
    <div class="charge-card-bottom">
      <div class="primary-button">BUILD EMAILS</div>
    </div>
  </div>
</div>
