<div class="charge-form-container">
  <div class="charge-card">
    <div class="charge-card-top">
      Thanks for your payment! You are now ready to use our pigeons.
    </div>
    <div class="charge-card-bottom">
      <%= link_to app_path do %>
        <div class="primary-button">BUILD EMAILS</div>
      <% end %>
    </div>
  </div>
</div>
