<div class="charge-form-container">
  <span class="title-dark">Thanks for your payment! You are now ready to use our pigeons.</span>
  <%= link_to slice_path, class: 'dark-button' do %>
    BUILD EMAILS
  <% end %>
</div>
